@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,600;6..12,700&display=swap");
/* ------------reset-css----------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  font-family: "Nunito Sans", sans-serif;
}
/* -------------Search-field and search background------------ */
.search img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}
.search {
  position: relative;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.search::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 9;
}
.search .content {
  position: relative;
  color: #fff;
  z-index: 15;
}
.search .content .logo {
  width: 95px;
  height: 95px;
  object-fit: cover;
  position: absolute;
  top: -15px;
  right: 5px;
}
.search h1 {
  font-size: 3rem;
  font-weight: 700;
}
.search p {
  font-size: 1.5rem;
  margin-top: 25px;
}
.search .search-box {
  height: 55px;
  margin: 45px 0;
  position: relative;
}
.search .search-box i {
  position: absolute;
  color: #8d8d8d;
  font-size: 1.4rem;
  top: 50%;
  left: 18px;
  transform: translateY(-50%);
}
.search-box input {
  width: 100%;
  height: 100%;
  font-size: 1.1rem;
  border-radius: 5px;
  padding-left: 55px;
}
/* -------------Search-field and search background end------------ */
/* ---------------Gallery-------------- */
.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallery .images {
  gap: 15px;
  max-width: 95%;
  margin-top: 40px;
  columns: 5 340px;
}
.images .card {
  display: flex;
  list-style: none;
  margin-bottom: 15px;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.card .details {
  position: absolute;
  bottom: -100px;
  width: 100%;
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
  transition: bottom 0.2s ease-in;
}
.card:hover .details {
  bottom: 0;
}
.card .details button {
  padding: 4px 8px;
  font-size: 1.1rem;
  background-color: #fff;
  cursor: pointer;
  border-radius: 5px;
}
.photographer {
  color: #fff;
  display: flex;
  align-items: center;
}
.photographer i {
  font-size: 1.4rem;
  margin-right: 10px;
}
.details .photographer span {
  font-size: 1.1rem;
}

.images .card img {
  width: 100%;
}

.gallery .load-more {
  margin: 50px 0;
  color: #fff;
  cursor: pointer;
  font-size: 1.2rem;
  padding: 12px 27px;
  background-color: #8a6cff;
  border-radius: 10px;
}
.gallery .load-more.disabled {
  opacity: 0.6;
  pointer-events: none;
}
/* ---------------Gallery end------------- */
/* ----------------Preview-Modal-------------- */
.lightbox {
  position: fixed;
  z-index: 17;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  display: none;
  animation: modal-open 0.7s ease-in;
}
.lightbox.show {
  display: block;
  animation: modal-open 0.7s ease;
}
.hidden {
  overflow: hidden;
}
.lightbox .wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  padding: 20px;
  max-width: 850px;
  background-color: #fff;
  border-radius: 5px;
  transform: translate(-50%, -50%);
}
.wrapper header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .photographer i {
  font-size: 1.7rem;
}
header .photographer {
  color: #333;
}
header .photographer span {
  font-size: 1.2rem;
}
header .buttons i {
  width: 40px;
  height: 40px;
  color: #fff;
  text-align: center;
  line-height: 40px;
  background-color: #8a6cff;
  font-size: 1.2rem;
  border-radius: 5px;
  display: inline-block;
  cursor: pointer;
}
.buttons i:last-child {
  background-color: #6c757d;
  margin-left: 7px;
}
.wrapper .preview-img {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}
.wrapper .preview-img img {
  max-height: 70vh;
  max-width: 90vh;
}
.preview-img .img img {
  max-width: 100%;
  height: 100%;
  object-fit: contain;
}
/* ----------------Preview-Modal end-------------- */
/* ----------modal-animation----------- */
@keyframes modal-open {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}
